RewriteEngine On
RewriteBase /app/

# Condizione: Se il file o la directory non esiste
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Regola: Reindirizza tutte le altre richieste a index.php
RewriteRule ^(.*)$ index.php [L,QSA]
