html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    font-family: sans-serif;
  }

body{
    position: relative;
    height: 100vh;
    
    margin: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}

nav{
    grid-area: Nav;
}

main{
    overflow-y: scroll;
    margin: 5px;
}
aside{
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-inline-start: 20px;
    overflow-y: scroll;
}

aside form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form input{
    margin-top: 5px;
}

form label{
    margin-top: 10px;
}

button,
    input[type=submit] {
        padding: 5px 20px;
        margin: 10px;
        border-radius: 9999px;
        border: none;
    }

    button:active, input[type=submit]:active {
        background: none;
    }

ul,ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
    margin: 10px auto;
    padding-inline: 3vw;
    overflow: visible;
}

article {
    position: relative;
    box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.3), 0px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

article .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
}

article .body{
    padding: 10px 20px;
    
}

.interaction{
    position: absolute;
    top: 0;
    right: 0;
    text-wrap: nowrap;
    border: none;
    font-size: 20px;
    height: min-content;
    color: darkblue;
    padding: 2px 10px;
    background-color: transparent;
    margin: 0 5px;
}